@unocss;

:root {
	--fa-opacity-1: 0.33;
	--fa-opacity-2: 1;
}

.dark {
	--fa-opacity-1: 0.5;
	--fa-opacity-2: 1;
}



.fa {
	@apply inline-block align-top pointer-events-none fill-current;

	path:first-child {
		fill-opacity: var(--fa-opacity-1);
	}

	path:last-child:not(:only-child) {
		fill-opacity: var(--fa-opacity-2);
	}
}
