@unocss;

:root {
	--blend-white: color-mix(in srgb, currentColor, white 25%);
	--blend-black: color-mix(in srgb, currentColor, black 25%);
}

.dark {
	--blend-white: color-mix(in srgb, currentColor, white 25%);
	--blend-black: color-mix(in srgb, currentColor, black 50%);
}



.fa {
	@apply inline-block align-top pointer-events-none fill-current;

	path:first-child {
		fill: var(--blend-white);
	}

	path:last-child:not(:only-child) {
		fill: var(--blend-black);
	}
}
