@tailwind base;
@tailwind components;
@tailwind utilities;

.fa {
  @apply inline-block align-top pointer-events-none;
  @apply w-6 h-6;
}

.fa path:first-child {
  fill: var(--fa-primary, #000);
}

.fa path:last-child {
  fill: var(--fa-secondary, #000);
}

.fa + span {
  margin-left: theme("spacing.3");
}

.animate-fade-in-up,
.animate-fade-in-down {
  animation-fill-mode: both;
}
